/*for animtion css*/
/*aniation for menu*/
.border-animation::after{
    content: "";
    width: 0%;
    height: 3px;
    background-color: #ef233c;
    position: relative;
    display: block;
    top: 3px;
    transition: all 400ms ease;
}
.border-animation:hover::after{
    width: 100%;
}

/*button animation*/
.btn-sub1:hover{
    background-color: transparent;
    padding-right: 30px;
}
.fa-angle-right {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 500ms ease;
}

.btn-sub2:hover {
    border: 1px solid #edf2f4;
    background-color: #352c31;
    color: #edf2f4;
}

.fa-angle-double-right {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 500ms ease;
}
/*content 3*/
/*pricing animation*/
.content-3 .basic a:hover, .enterprise a:hover {
    background-color: #e30022;
    color: white;
}

@media only screen and (min-width: 1024px) {
    .basic .basic-border, .enterprise .basic-border {
        position: absolute;
        background-color: #e30022;
        transition: all 800ms ease;
    }
    .content-3 .basic .basic-border:nth-child(1), .enterprise .basic-border:nth-child(1) {
        top: 0%;
        left: 0%;
        width: 30px;
        height: 0.8px;
    }
    .content-3 .basic .basic-border:nth-child(2), .enterprise .basic-border:nth-child(2) {
        top: 0%;
        left: 0%;
        width: 1px;
        height: 30px;
    }
    .content-3 .basic .basic-border:nth-child(3), .enterprise .basic-border:nth-child(3) {
        bottom: 0%;
        right: 0%;
        width: 0.8px;
        height: 30px;
    }
    .content-3 .basic .basic-border:nth-child(4), .enterprise .basic-border:nth-child(4) {
        bottom: 0%;
        right: 0%;
        width: 30px;
        height: 0.8px;
    }
    .content-3 .pro .pro-border{
        background-color: #e30022;
        position: absolute;
        transition: all 800ms ease;
    }
    .content-3 .pro .pro-border:nth-child(1){
        right: 0%;
        bottom: 40%;
        height: 100px;
        width: 1px;
    }
    .content-3 .pro .pro-border:nth-child(2){
        left: 0%;
        bottom: 40%;
        height: 100px;
        width: 1px;
    }
}